<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 90%;
            border-spacing: 10px;
        }
        th {
            background: #FFD700;
        }
        td {
            background: #FFFACD;
        }
        th, td {
            border: 1px solid black;
            padding: 20 px;
            text-align: center;
            margin: 10px
        }
        label {
            margin-top: 10px;
            display: block;
    </style>
  <link rel="stylesheet" href="/stylesCreate.css">
</head>
<body>
<div style="text-align:left">
    <form th:action="@{/createEstimate}" method="post" style="text-align:left">
    <input type="submit" name="button" value="Back"/>
    <!--        <input type="submit" name="button" value="UserList">-->
    </form>
</div>
<div>
    <form method="post">
        <select name="form_select">
            <option selected="selected" value="set_room">set room</option>
            <option value="room">room</option>
            <option value="category">category</option>
            <option value="description">description</option>
        </select>
    </form>
    <form method="post">
        <label for="manufacturer"><input type="text" id="manufacturer" name="manufacturer" placeholder="Производитель"></label>
        <label for="product"><input type="text" id="product" name="product" placeholder="Продукт"></label>
        <label for="quantity"><input type="text" id="quantity" name="quantity" placeholder="Количество"></label>
        <label for="price"><input type="text" id="price" name="price" placeholder="Цена"></label>
        <button type="submit" style="margin-top: 10px;">Enter</button>
    </form>
</div>
<h3 style="text-align: center">Создание новой сметы ремонта:</h3>
<table>
    <tr>
        <th>Помещение</th>
        <th>Категория</th>
        <th>Описание</th>
        <th>Производитель</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Общая стоимость</th>
    </tr>
</table>
</body>
</html>