<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users:</h1>
<table>
  <tr> <!-- Создание заголовочной строки, указываем ее значение-->
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Archive</th>
    <th>Phone</th>
    <th>Address</th>
    <!-- Создали шапку таблицы -->
  </tr>
  <tr th:each="user: ${users}">
    <td th:text="${user.id}"></td> <!-- Создание строки с данными -->
    <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.name}"></a></td> <!-- То, что находится внутри тега а = является ссылкой -->
    <!-- th:href = ссылка, по которой нужно перейти -->
    <td th:text="${user.email}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.archive}"></td>
    <td th:text="${user.phone}"></td>
    <td th:text="${user.address}"></td>
  </tr>
</table>
</body>
</html>