<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"-->
<!--      xmlns:text-align="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <title>Main page</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
<!--</head>-->
<!--<body>-->
<!--    <h3>Main page</h3>-->
<!--    <div th:inline="text" style="text-align:right">Auth: <span th:remove="tag" sec:authentication="name">thymeleaf</span>-->
<!--    <form th:action="@{/logout}" method="post" style="text-align:right">-->
<!--        <input type="submit" value="Logout"/><br>-->
<!--        <span><a href="/user">User list</a></span>-->
<!--    </form>-->
<!--    </div>-->
<!--    <div>-->
<!--        <form method="post">-->
<!--            <div style="margin: 5px 0 5px 20px; display:block;"></div>-->
<!--            <input type="text" name="text" placeholder="Message">-->
<!--            <input type="text" name="tag" placeholder="Tag">-->
<!--            <button type="submit">Enter</button>-->
<!--        </form>-->
<!--        <form action="#" th:action="@{/main/deleteAll}" method="post">-->
<!--            <div style="margin: 5px 0 5px 20px; display:block;"></div>-->
<!--            <button type="submit" >DeleteAllMessage</button>-->
<!--        </form>-->
<!--        <form action="#" th:action="@{/main/filter}" method="post">-->
<!--            <div style="margin: 5px 0 5px 20px; display:block;"></div>-->
<!--            <input type="text" name="filter" id="filter">-->
<!--            <button type="submit">Find</button>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div>List message </div>-->
<!--    <table>-->
<!--        <tr> &lt;!&ndash; Создание заголовочной строки, указываем ее значение&ndash;&gt;-->
<!--            <th>ID</th>-->
<!--            <th>Text</th>-->
<!--            <th>Tag</th>-->
<!--        </tr>-->
<!--        <tr th:each="message: ${messages}">-->
<!--            <td th:text="${message.id}"></td> &lt;!&ndash; Создание строки с данными &ndash;&gt;-->
<!--            <td th:text="${message.text}"></td> &lt;!&ndash; То, что находится внутри тега а = является ссылкой &ndash;&gt;-->
<!--            <td th:text="${message.tag}"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;        <b th:text="${message.id}"></b>&ndash;&gt;-->
<!--&lt;!&ndash;        <b th:text="${message.text}"></b>&ndash;&gt;-->
<!--&lt;!&ndash;        <b th:text="${message.tag}"></b>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->


<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;        <form method="post">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="name" placeholder="Введите имя пользователя" /><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="email" placeholder="Введите email пользователя" /><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="password" placeholder="Введите password пользователя" /><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <label>Archive</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="radio" id="true" value="true" name="archive"><label for="true" class="user">True</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="radio" id="false" value="false" name="archive"><label for="false" class="user">False</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="archive" placeholder="Пользователь active?" />&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="phone" placeholder="Введите телефон" /><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="address" placeholder="Введите адрес" /><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="submit">Добавить</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--<p th:text="${message}"></p>-->
<!--</body>-->
<!--</html>-->