<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
</head>
<body>
    <h3>User list</h3>
    <table>
        <thead>
        <tr> <!-- Создание заголовочной строки, указываем ее значение-->
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}" th:object="${selectedRoles}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.active}"></td>
<!--            <li th:text="${user.role}"></li>-->
<!--                <td th:for="${role}" th:text="${role}">Role</td>-->
            <td><a th:href="@{'/user/' + ${user.id}}">Edit</a></td>
        </tr>
        <tr th:each="role: ${roles}">
            <input type="text" th:id="role" th:name="selectedRoles" th:value="${role}"/>
            <label th:for="${role}" th:text="${role}">Role</label>
        </tr>
        </tbody>
    </table>
</body>
</html>